
<table>
    <tr>
        <th>Select a friend to chat with</th>
    </tr>
    <tr>
        <th>User Name</th>
        <th>Status</th>
    </tr>
    <tr>
        <td><%= name %></td>
        <td>Online</td>
    </tr>
</table>
